<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <title>SMS-S</title>
    </head>
    <body>
        <div class="wraper h-100">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-md navbar-light bg-light">
                                <a href="{{ url_for('index') }}" class="navbar-brand">SMS-S</a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarContent">
                                    <ul class="navbar-nav d-flex w-100">
                                        <li class="nav-item active">
                                            <a href="{{ url_for('search') }}" class="nav-link">Поиск</a>
                                        </li>
                                        {% if current_user.is_anonymous %}
                                        <li class="nav-item ml-auto">
                                            <a href="{{ url_for('login') }}" class="nav-link">Вход</a>
                                        </li>
                                        {% else %}
                                        <li class="nav-item ml-auto d-flex">
                                            <a href="{{ url_for('logout') }}" class="nav-link">{{ current_user.adm_login }} / Выход</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% block content %} {% endblock %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% block results %} {% endblock %}
                        </div>
                    </div>
                    <div class="row justify-content-end mb-3">
                        <div class="col-md-12">
                            {% block send %} {% endblock %}
                        </div>
                    </div>
                </div>
            </main>
            <footer class="fixed-bottom bg-dark text-center text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <span><sup><small>&copy;</small></sup>2019. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% block scripts %} {% endblock %}
    </body>
</html>
